#top{
    height: 400px;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    font-size: 1rem;
    line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    color: #212529;
    font-weight: 500;
    cursor: auto;
    box-sizing: border-box;
    display: block;
    min-height: 300px;
    text-align: center;
    overflow: hidden;
    background-color: #fff2cc;
}
#header{
    margin-bottom: 1000px;
}
#header>h1{
    font-size: 50px;
    width: 50%;
    margin-left: 400px;
    margin-top: 150px;
    
    
}
form.nosubmit {
    border: none;
    padding: 0;
    
}
  
input.nosubmit {
    
    border: 1px solid #555;
    width:50%;
    height: 50px;
    margin-left: 400px;
    margin-bottom: 100px;
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    box-sizing: border-box;
    display: block;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    position: relative;
    flex: 1 1 auto;
    padding: .5625rem .75rem .5625rem 2.6875rem;
    
    background-size: 20px 20px;
    font: 500 1.25rem/1.4 PTRootUIMedium,sans-serif;
    color: #212529;
    border: 1px solid #a1a7b2;
    border-radius: 6px;
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
.container{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    font-size: 1rem;
    line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    color: #212529;
    font-weight: 500;
    cursor: auto;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    min-width: 320px !important;
    max-width: 1712px !important;
    padding: 0 60px;
}
.video-list{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    font-size: 1rem;
    line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    color: #212529;
    font-weight: 500;
    cursor: auto;
    text-align: center;
    box-sizing: border-box;
    margin: 0 -20px 1.2rem;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    
}


button{
    color: rgb(228, 228, 228);
    border-color: #00356a;
    border-radius: 50% !important;
    cursor: pointer;
    display: block;
    position: relative;
    width: 64px;
    height: 64px;
    background: #212529;
    transition: all .5s ease;
   
}
.video-play-button-wrapper{
    width: 25%;
    margin-left: 120px;
    margin-top: -120px;
}

.video-img{
    border-radius: 10px;
}
.link-more{
    margin-left: 100px;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
    display: inline-block;
    vertical-align: top;
    color: #3070f0;
    transition: all .5s ease;
    font: bold 1.25rem/1.4 PTRootUIBold,sans-serif;
    margin-top: 60px;
   

}

.icon{
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    font-size: 1rem;
    line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    font-weight: 500;
    list-style: none;
    color: #3070f0;
    box-sizing: border-box;
    border-style: none;
    display: block;
    margin-right: 1rem;
    width: 32px;
    min-width: 32px;
}
.item{
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    font-size: 1rem;
    line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    font-weight: 500;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
    color: #3070f0;
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #e2e6eb;
    height: 100%;
    padding: 0 15px;
}
.title{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: flex;
    align-items: flex-start;
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    font-size: 20px;
    line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    font-weight: 500;
    list-style: none;
    color: #3070f0;
    box-sizing: border-box;
    
}
.guide-links{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    -webkit-text-size-adjust: 100%;
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    font-size: 1rem;
    line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    color: #212529;
    font-weight: 500;
    list-style: none;
    box-sizing: border-box;
    padding-top: 30px;
    margin-bottom: 20px;
    width: 95%;
    gap: 20px;
    
}
.text{
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    font-size: 1rem;
    line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    font-weight: 500;
    list-style: none;
    text-align: left;
    box-sizing: border-box;
    display: block;
    color: #212529;
}
/* .container{
    border-bottom: 1px solid #e2e6eb;
} */
.faq-section{
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    color: #212529;
    font-weight: 500;
    box-sizing: border-box;
    border-bottom: 1px solid #e2e6eb;
    display: block;
    padding: 64px 0 44px;
    background: #f8f9fa;
}
.faq-content{
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    color: #212529;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0 -20px;
    column-count: 3;
    column-gap: 0;
}
.content{
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    color: #212529;
    font-weight: 500;
    box-sizing: border-box;
    
    padding: 0 15px;
}
.links{
    --breakpoint-xs: 0;
    --breakpoint-sm: 600px;
    --breakpoint-md: 1024px;
    --breakpoint-lg: 1440px;
    --breakpoint-xl: 1920px;
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    color: #212529;
    font-weight: 500;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
.links>li>a{
    
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    font-size: 1rem;
    line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    font-weight: 500;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
    color: #3070f0;
    display: inline-block;
    vertical-align: top;
    transition: all .5s ease;
}
.bottom-section{
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    font-size: 1rem;
    line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    font-weight: 500;
    box-sizing: border-box;
    display: block;
    transition: transform .5s ease,opacity .5s ease;
    padding: 64px 0;
    text-align: center;
    border-bottom: 0px solid #1279f7;
    transform: translateY(0);
    opacity: 1;
    background: #2542b8;
    color: #fff;
}


.bottom-section div>div{
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    font-weight: 500;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
    border-bottom: 0px solid #e2e6eb;
    margin: 0 auto 2rem;
    width: 70%;
}
#contact-button{
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid white;
    padding: .5625rem .75rem;
    transition: all .3s ease;
    width: auto;
    font: bold 1rem/1.5rem PTRootUIBold,sans-serif;
    border-radius: 6px;
    min-width: 128px;
    cursor: pointer;
    color: white;
}



.btn-primary-dark{
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .5625rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
    border-color: #00356a;
    border-radius: 50% !important;
    cursor: pointer;
    display: block;
    position: relative;
    width: 64px;
    height: 64px;
    background: #212529;
    transition: all .5s ease;
    
    
}

#navbar{
    display:flex;
   justify-content: space-around;
   width: 100%;
   height:40px;
   position: relative;
   background-color: rgb(255,242,204); 
   padding: 14px;
   
  }
  #navbar>div{
     display:flex;
     font-size: 13px;
  }

#select{
   height:35px;
    margin-top: 15px;
    border-style: none;
    border-radius: 10px;
    margin-left: 15px;
}
.firstanchor{
font-size: 55px;
font-family: sans-serif;
text-decoration: none;
cursor: pointer;
}

#navbar>div a{
color: black;
font-size: 15px;
text-decoration: none;
margin: 14px;
margin-top:22px;
font-weight: 500;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navbar>div a:hover{
color: rgb(102, 102, 132);
}
#navbar button{
height:45px;
font-size: 16px;
width:100px;
background-color:  rgb(216, 250, 239);;
border-radius: 12px;
margin-top:10px;
}
#navbar button:hover{
background-color: rgb(174, 174, 216);
}

