.container{
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    color: #212529;
    font-weight: 500;
    box-sizing: border-box;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    min-width: 320px !important;
    max-width: 1712px !important;
    padding: 0 60px;
}
.row{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #0066CC;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #F54949;
    --orange: #fd7e14;
    --yellow: #EBB609;
    --green: #00BC6A;
    --teal: #20c997;
    --cyan: #04ADE0;
    --white: #fff;
    --gray: #777E85;
    --gray-dark: #3A3E42;
    --primary: #0066CC;
    --secondary: #E2E7EB;
    --success: #00BC6A;
    --info: #04ADE0;
    --warning: #EBB609;
    --danger: #F54949;
    --light: #F6F7F8;
    --dark: #3A3E42;
    --info-light: #C9EDF8;
    --info-dark: #025A74;
    --warning-light: #FBEFCA;
    --warning-dark: #7A5F05;
    --danger-light: #FDD8D8;
    --danger-dark: #7F2626;
    --success-light: #C8F1DF;
    --success-dark: #006237;
    --primary-light: #D4E5F6;
    --primary-dark: #00356A;
    --breakpoint-xs: 0;
    --breakpoint-sm: 600px;
    --breakpoint-md: 1024px;
    --breakpoint-lg: 1440px;
    --breakpoint-xl: 1920px;
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    color: #212529;
    font-weight: 500;
    box-sizing: border-box;
    display: flex;
    margin-right: -20px;
    margin-left: -20px;
    flex-wrap: nowrap;
    
    align-items: flex-start;
}
.d-none{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #0066CC;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #F54949;
    --orange: #fd7e14;
    --yellow: #EBB609;
    --green: #00BC6A;
    --teal: #20c997;
    --cyan: #04ADE0;
    --white: #fff;
    --gray: #777E85;
    --gray-dark: #3A3E42;
    --primary: #0066CC;
    --secondary: #E2E7EB;
    --success: #00BC6A;
    --info: #04ADE0;
    --warning: #EBB609;
    --danger: #F54949;
    --light: #F6F7F8;
    --dark: #3A3E42;
    --info-light: #C9EDF8;
    --info-dark: #025A74;
    --warning-light: #FBEFCA;
    --warning-dark: #7A5F05;
    --danger-light: #FDD8D8;
    --danger-dark: #7F2626;
    --success-light: #C8F1DF;
    --success-dark: #006237;
    --primary-light: #D4E5F6;
    --primary-dark: #00356A;
    --breakpoint-xs: 0;
    --breakpoint-sm: 600px;
    --breakpoint-md: 1024px;
    --breakpoint-lg: 1440px;
    --breakpoint-xl: 1920px;
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    color: #212529;
    font-weight: 500;
    box-sizing: border-box;
    display: flex !important;
    flex-direction: column !important;
    padding: 0 40px 0 20px;
    box-shadow: -1px 0 1px 0 #ebedf0 inset;
    position: sticky;
    top: 65px;
    margin-right: 40px;
    width: 400px;
    min-width: 400px;
    
}
.help-page-header{
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    color: #212529;
    font-weight: 500;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
    min-height: 70px;
}
.help-tree{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #0066CC;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #F54949;
    --orange: #fd7e14;
    --yellow: #EBB609;
    --green: #00BC6A;
    --teal: #20c997;
    --cyan: #04ADE0;
    --white: #fff;
    --gray: #777E85;
    --gray-dark: #3A3E42;
    --primary: #0066CC;
    --secondary: #E2E7EB;
    --success: #00BC6A;
    --info: #04ADE0;
    --warning: #EBB609;
    --danger: #F54949;
    --light: #F6F7F8;
    --dark: #3A3E42;
    --info-light: #C9EDF8;
    --info-dark: #025A74;
    --warning-light: #FBEFCA;
    --warning-dark: #7A5F05;
    --danger-light: #FDD8D8;
    --danger-dark: #7F2626;
    --success-light: #C8F1DF;
    --success-dark: #006237;
    --primary-light: #D4E5F6;
    --primary-dark: #00356A;
    --breakpoint-xs: 0;
    --breakpoint-sm: 600px;
    --breakpoint-md: 1024px;
    --breakpoint-lg: 1440px;
    --breakpoint-xl: 1920px;
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    color: #212529;
    font-weight: 500;
    box-sizing: border-box;
    border-top: 1px solid #d0d6db;
    overflow-y: auto;
    max-height: 588px;
}
.list-group{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    --blue: #0066CC;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #F54949;
    --orange: #fd7e14;
    --yellow: #EBB609;
    --green: #00BC6A;
    --teal: #20c997;
    --cyan: #04ADE0;
    --white: #fff;
    --gray: #777E85;
    --gray-dark: #3A3E42;
    --primary: #0066CC;
    --secondary: #E2E7EB;
    --success: #00BC6A;
    --info: #04ADE0;
    --warning: #EBB609;
    --danger: #F54949;
    --light: #F6F7F8;
    --dark: #3A3E42;
    --info-light: #C9EDF8;
    --info-dark: #025A74;
    --warning-light: #FBEFCA;
    --warning-dark: #7A5F05;
    --danger-light: #FDD8D8;
    --danger-dark: #7F2626;
    --success-light: #C8F1DF;
    --success-dark: #006237;
    --primary-light: #D4E5F6;
    --primary-dark: #00356A;
    --breakpoint-xs: 0;
    --breakpoint-sm: 600px;
    --breakpoint-md: 1024px;
    --breakpoint-lg: 1440px;
    --breakpoint-xl: 1920px;
    --font-family-sans-serif: Roboto, sans-serif;
    --font-family-monospace: monospace;
    font-size: 1rem;
    text-align: left;
    line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    color: #212529;
    font-weight: 500;
    box-sizing: border-box;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    border-radius: .25rem;
    margin-bottom: 1rem;
}